
<h1 class="text-center m-3">Listing page</h1>

<%= render 'article' %>

<div class="d-grid gap-2 col-6 mx-auto m-3 " >
    <%= link_to "New Article", new_article_path, class: "btn btn-primary text-light p-3 fs-4" %>
</div>

