// in custom.css.scss

// .navbar{
//     background-color: rgb(219, 87, 61) !important;
// }

// nav-link為navbar上連結到其他地方的那些element
.nav-link{
    color: white ;
}

#logo{
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: -1px;
}

#home-container{
    background-image: asset-url('home_background.jpg') ;
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    color:white;
    height: 450px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
}

.black-filter{
    flex-grow: 1;
    background-color: rgba(0,0,0,0.5);
}

.flex-container .element{
    padding: 5px;
    border: solid;
}

.flex-container{
    background-color: grey;
}

#page-content{
    flex: 1 0 auto;
    background-color: rgb(242, 242, 242);
}

#sticky-footer{
    flex: 0 0 auto;
    background-color: grey;
}

.form-label-article{
    width: 100px;
    flex-shrink: 0;
}


.apple_pagination {
    background: #f1f1f1;
    border: 1px solid #e5e5e5;
    text-align: center;
    padding: 1em;
    cursor: default; }
    .apple_pagination a, .apple_pagination span {
      padding: 0.2em 0.3em; }
    .apple_pagination .disabled {
      color: #aaaaaa; }
    .apple_pagination .current {
      font-style: normal;
      font-weight: bold;
      background-color: #bebebe;
      display: inline-block;
      width: 1.4em;
      height: 1.4em;
      line-height: 1.5;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
    .apple_pagination a {
      text-decoration: none;
      color: black; }
      .apple_pagination a:hover, .apple_pagination a:focus {
        text-decoration: underline; }
  